* {
    box-sizing: border-box;

}

body {
    background: #000f29;
    margin: 0;
    font-family: sans-serif;
}



@import url("https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,700&subset=latin,cyrillic");
@import url ('https://fonts.googleapis.com/css?family=Roboto+Slab');


.header {
    padding-top: 200px;
}

.title {
    max-width: 2071px;
    margin: 0 auto;
}



.title > .name {}

.title > .logo {
    display: inline-block;
}

.title > .logo > .icon {
    display: inline-block;
    font-size: 52px;
    color: #fff;
}

/* ERROR: CANT TO CREATE A NEW PREUDO-ELEMENT */
.title > .logo > .icon:fab-fa-500px {
     content:'\f26e';
     font-family: FontAwesome;
     color:green;
     font-size: 52px;
     display: inline-block;
}

.title > .logo > .name {
    display: inline-block;
    font-size: 52px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.name > .blue {
    display: inline-block;
    color: #87acfd;
}

.explanation {
    display: inline-block;
    font-size: 38px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #fff;
    float: right;
    padding-top: 14px;
}

.container {
    background: #fff;
    max-width: 2101px;
    border-radius: 83px 83px 20px 20px;
    margin: 200px auto 175px;
}

.container > .title-two {
    text-transform: uppercase;
    margin: 0 192px;
    padding-top: 50px;
}

/*2 логотип*/
.container >.title-two > .logo-two {
    font-size: 27px;
    max-width: 321px;
    display: inline-block;
    margin-right: 570px;
}


.logo-two h2 {
    display: inline-block;
    margin: 0;
}

.logo-two > h2 > .fab {
    margin-right: 20px;
}
 .logo-two > h2 > .fab fa-facebook-messenger ::before {
    content: "\f39f";
    font-family: FontAwesome;
}

.logo-two h2 > .bd {
    display: inline-block;
    color: #3e73e3;
}

.menu {
    display: inline-block;
    font-family: sans-serif;
}

.home {
    display: inline-block;
    margin: 0 24px 0 0px;
}
.about {
    display: inline-block;
    margin: 0 24px 0 0px;
}

.services {
    display: inline-block;
    margin: 0 24px 0 0px;
}

.case-study {
    display: inline-block;
    margin: 0 24px 0 0px;
}

.pricing {
    display: inline-block;
    margin: 0 24px 0 0px;
}

.blog {
    display: inline-block;
    margin: 0 24px 0 0px;
}

.contact {
    display: inline-block;
    margin: 0 24px 0 0px;
}


.search {
    display: inline-block;
}
/*лупа*/
.search > .fas fa-search::before {
    content: '\f368';
    font-family:FontAwesome;
}

 .wrapper {
    height: 1030px;
    border-radius: 0 0 20px 14px;
    margin-top: 50px;
    font-size: 50px;
    padding: 133px 194px 0;
    background: #f9faff;
}

.wrapper:nth-child(3) {
    margin-top: 0;
}

.wrapper > .breadcrumbs {
    display: inline-block;
    margin-right: 150px;
}

.wrapper > .content {
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    text-transform: uppercase;
}

.wrapper > .content > .inscription {
    max-width: 884px;
    margin: 0 auto;
    font-size: 24px;
    padding-top: 40px;
    color: gray;
}

.wrapper > .box > .network {
    padding-top: 200px;
}

.box {
    display: inline-block;
    max-width: max-content;
}

.box > .inscription {
     display: inline-block;
     font-size: 40px;
}

.box > .inscription > .better {
    font-size: 40px;
    text-transform: uppercase;
}

/*network*/
.network > .facebook {
    display: inline-block;
    margin-right: 47px;
}

/*расстояние между иконками*/ /*сами иконки*/
.fab {
    color: #969698;
    margin-right: 35px;
}
.network > .facebook > .fab fa-facebook::before {
     content: '\f39e';
     font-family:FontAwesome;
     background: #969698;
     color: #969698;
     display: inline-block;
}
/*network*/
.in {
    display: inline-block;
    margin-right: 47px;
}
.network > .in > .fab fa-invision::before {
    content:"\f7b0";
    font-family: FontAwesome;
    display: inline-block;
    color: #969698;
}


.network > .twitter {
    display: inline-block;
    margin-right: 47px;
}

.network > .twitter > .fab fa-twitter-square::before {
    content: "\f081";
    position: absolute;
    font-family: FontAwesome;
    color: #969698;
}

.wrapper > .box >.inscription >.better {
    display: inline-block;
}

 .inscription >.better h1 {
    font-size: 67px;
    max-width: 1724px;
    margin: 0 auto;
    padding-top: 59px;
    text-transform: uppercase;
}


h1 > .bt-version{
    display: inline-block;
    color: #4777e6;
}

/*Информация*/
.inscription {
    max-width: 884px;
    margin: 0 auto;
}

.inscription > .inform {
    color: #9e9da2;
    font-size: 40px;
    margin-bottom: 116px;
}

.link-toch {
    display: inline-block;
    background: #4777e6;
    padding: 27px 64px;
    text-transform: uppercase;
    font-size: 30px;
    color: #fff;
    border-radius: 50px;
}

.link-toch:hover {
    cursor: pointer;
    background: #000;
    transition: 0.3s;
}

.more {
    display: inline-block;
    padding: 27px 64px;
    text-transform: uppercase;
    font-size: 30px;
    color: #3e70e1;
    border-radius: 50px;
    border: 2px solid #d9dadc;
}

.more:hover {
    cursor: pointer;
    background:#4777e6;
    color: #fff;
    transition: 0.3s;
}


.wrapper > .box > .img {
    display: inline-block;
}

.wrapper img {
    max-width: 600px;
}

/*features*/

.features {
    max-width: 1995px;
    margin: 0 auto;
    padding-bottom: 171px;
}

.features > .amenities {
    max-width: 858px;
    display: inline-block;
    width: 100%;
}

.features > .amenities h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
}

.features > .amenities ul {
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    list-style-type: none;
    padding-left: 0;
    font-size: 20px;
}

.features > .amenities li {
    padding-bottom: 56px;
}

.features > .amenities > .list >.fas-fa-check::before {
    content: "\f00c";
    font-family:FontAwesome;
    color: #fff;
    margin-right: 40px;
}

.fa-check {
    margin-right: 49px;
}

.features > .fonts {
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
}

.features > .fonts h2 {
    font-size: 50px;
}

.features > .fonts > .poppins {
    font-size: 20px;
}

/*подключить шрифты*/
 .poppins > .fonts {
     font-family: monospace;
 }

/*features*/
.features > .icons {
    padding: 147px 0 147px
}

.icons > .icon-one {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size:50px;
    padding-bottom: 30px;
}


.icons > .icon-two ul {
    padding-left: 0;
    font-size: 20px;
}

.icon-two li {
    color: #fff;
    list-style-type: none;
    text-transform: uppercase;
}

.icon-two li:nth-child(1) {
    padding-bottom: 40px;
}

.color {}

.color > .title {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.color > .blue {
    width: 173px;
    height: 173px;
    background: #4777e6;
    border-radius: 150px;
    display: inline-block;
}

.color > .gray {
    width: 173px;
    height: 173px;
    background: #1d2025;
    border-radius: 150px;
    display: inline-block;
    margin: 0 81px;
}

.color > .linght-grey {
    width: 173px;
    height: 173px;
    background: #5d5d5d;
    border-radius: 150px;
    display: inline-block;
}

.notebook img {
    width: 100%;
    height: 1399px;
}

.landing-page {
    width: 100%;
    max-width: 2495px;
    margin: 0 auto;
}

.landing-page > .title {
    width: 100%;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 351px 0 100px;
}


.landing-page > .page {
    width: 100%;
    background: #fff;
    border-radius: 58px;
    max-width: max-content;
    box-shadow: 34px 0px 8px 0px #dfdfdf5c;
    position: absolute;
    z-index: 999;
}

.page > .title-page {
    background: #FFF;
    padding: 20px;
    border-top-right-radius: 31px;
    border-top-left-radius: 31px;
}

.title-page > .container-landing  {
    max-width: 1228px;
    margin: 0 auto;
}

.title-page > .container-landing > .logo {
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 7px;
}

/*иконки*/

 .logo > .name {
     font-size: 25px;
     font-family: sans-serif;
     margin-right: 222px;
 }

 .name > .blue {
    color: #4173e6;
 }

.container-landing > ul {
    list-style-type: none;
    display: inline-block;
    text-transform: uppercase;
    padding-left: 0;
    vertical-align: top;
    margin-top: 11px;
}

.container-landing > ul > li {
    display: inline-block;
    margin-right: 31px;
}

.header-section {
    background: #f9faff;
    padding: 131px 235px 0 382px;
    height: 751px;
}

.box > .inscription > .icon > .fab fa-facebook-square::before {
    content: "\f082";
    font-family: FontAwesome;
    font-size: 39px;
}

.box > .inscription > .title-better {
    font-size: 59px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 50px 0 50px;
}

.title-better > .better {
    color: #4477e4;
}
.box > .inscription > .description {
    font-size: 40px;
    color: #656668;
    padding-bottom: 89px;
}

/*button*/

.contacts {}

.get > .get-in-tuch {
    font-size: 27px;
    text-transform: uppercase;
    display: inline-block;
    border: 2px solid #4777e6;
    padding: 20px 48px;
    border-radius: 54px;
    margin-right: 50px;
    background: #4777e6;
    color: #fff;
    cursor: pointer;
}

.get > .get-in-tuch:hover {
    background: #000;
    color: #fff;
    border:2px solid #000;
    transition: 0.3s;
}

.get > .inform {
    font-size: 27px;
    text-transform: uppercase;
    display: inline-block;
    border: 2px solid;
    padding: 20px 48px;
    border-radius: 54px;
    /*transition: 0.3s;*/ /*норм эффект*/
    cursor: pointer;
}

.get > .inform:hover {
    background: #000;
    color: #fff;
    transition: 0.3s;
    border: 2px solid;
    border-radius: 54px;
}

.girl {
    background-image: url('./img/s1200.jpg');
    width: 523px;
    height: 501px;
    display: inline-block;
    margin-left: 174px;
    vertical-align: top;
    background-size: contain;
}



.wrapper > .wrap > .advantages {
    max-width: 446px;
    width: 100%;
    box-shadow: 0 0 19px 5px #0000006e;
}

.wrapper > .advantages h2 {
    margin-top: 0;
    font-size: 32px;
}

.advantages > .promotion {
    width: 444px;
    background: #fff;
    padding: 32px 70px 28px;
    border: 2px  solid #8080802e;
}

.advantages > .promotion h2 {
    font-size: 33px;
    font-weight: normal;
    margin-top: 0;
}

.advantages > .promotion:hover {
    box-shadow: 0 0 10px 3px #00000070;
    cursor: pointer;
}

.txt > .speaker {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 44px;
    background: #4776e8;
    margin: -37px 0 0 -99px;
    padding-left: 10px;
    color: #fff;
}

.txt > .speaker > .fas fa-volume-down::before {
    content: "\f027";
    font-family: FontAwesome;
    margin-left: 10px;
}

.txt p {
    font-size: 23px;
}

/**/

.txt p {
    font-size: 23px;
}
/**/

.txt > .graphic-design {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 44px;
    background: #4776e8;
    margin: -37px 0 0 -99px;
}

.txt > .graphic-design > .fas-fa-volume-down::before {
    content: "\f027";
    font-family: FontAwesome;
}

.txt p {
    font-size: 23px;
}

.dig-markiting {
    max-width: 446px;
    width: 100%;
    margin: 42px 0;
    border: 2px solid #eee;
}

.dig-markiting:hover {
    box-shadow: 0 0 19px 5px #0000006e;
    cursor: pointer;
    transition: 0.3s;

}

.markiting {
    width: 441px;
    background: #fff;
    padding: 33px 70px 28px;
}

.markiting h2 {
    margin-top: 0;
    font-size: 32px;
    font-weight: normal;
}

.markiting > .icon {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 44px;
    background: #4776e8;
    margin: 28px 0 0 -99px;
}

.icon > .fa-chart-area::before {
    content: "\f1fe";
    color: #fff;
    font-size: 36px;
    padding-left: 12px;
}
 /**/

.markiting p {
    font-size: 26px;
}

.graphic-design {
    background: #fff;
}

.graphic-design > .icon {
    display: inline-block;
    background: #4777e6;
    color: #fff;
    margin: 55px 0 0;
    position: absolute;
    margin-left: -29px;
    padding: 9px 15px;
    border-radius: 50px;
}

/*icon graphic*/
.graphic-design > .icon >  .fas fa-paint-roller::before {
    content: "\f5aa";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 44px;
    background: #4776e8;
    margin: 67px 0 0 -31px;
}

.graphic-design > .design {
    width: 444px;
    padding: 33px 70px 28px;
    border: 1px solid #eee;
}

.graphic-design > .design:hover {
    box-shadow: 0 0 22px 1px black;
    cursor: pointer;
    transition: 0.3s;
}

.graphic-design h2 {
    margin-top: 0;
    font-size: 32px;
    font-weight: normal;
}

.graphic-design > .design p {
    font-size: 26px;
}

/*button*/
.read-more {
    font-size: 27px;
    margin-top: 40px;
    padding: 22px 40px;
    background: #4777e6;
    display: inline-block;
    border-radius: 48px;
    color: #fff;
}

.read-more:hover {
    background: #000;
    transition: 0.3s;
    cursor: pointer;
}
/*Рекомендации*/

.company-specialist {
    background: #4777e6;
    height: 667px;
    width: 100%;
    padding: 0 0px 0 385px;
}

.company-specialist > .container-spec {
    height: 606px;
    max-width: 780px;
    display: inline-block;
}



.company-specialist >  .container-spec >  .title {
    max-width: 2071px;
    margin: 0 auto;
    color: #fff;
    font-size: 50px;
    padding: 128px 0 34px;
}

.company-specialist > .container-spec > .txt {
    color: #fff;
    font-size: 26px;
}

.company-specialist > .more-about-us {
    background: url("https://wdb.space/media/2016-11-14/Cwow8VKOSV.jpg");
    width: 881px;
    height: 666px;
    position: absolute;
    right: 0;
}

/*video*/
.player {
    position: absolute;
    width: 122px;
    height: 128px;
    background: #fff;
    border-radius: 70px;
    margin: 257px 0 0 -58px;
 }
/*round video*/
 .player > .round {
     border: 2px solid #4777e6;
     height: 130px;
     border-radius: 75px;
     padding: 29px 0 0 33px;
     font-size: 64px;
     color: #4777e6;
     box-shadow: 0 0 0px 10px white;
 }
 /*learn more*/ /*ссылка справа внизу экрана*/
 .btn {
     width: 239px;
     height: 83px;
     background: #4777e6;
     position: absolute;
     bottom: 0; right: 0;
     color: #fff;
     font-size: 23px;
     text-transform: uppercase;
     padding-top: 28px;
     text-align: center;
 }

 .btn:hover {
     background: #000;
     transition: 0.3s;
 }

.container-spec > .signature{padding-top: 7px;}
.container-spec > .signature img {
    width: 118px;
}

/*best Services*/
.container-best {
    background: #f9faff;
    max-width: 2101px;
    padding: 200px;
}
.Best-serv {
    max-width: 1468px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.Best-serv h1 {
    text-transform: uppercase;
}


/*slider*/

.arrow-left {
    display: inline-block;
    font-size: 43px;
    margin-right: 42px;
    padding: 19px 29px 15px;
    border-radius: 70px;
    color: #fff;
    font-weight: normal;
}

.arrow-left > .fas fa-angle-left::before {
    content:"\f104";
}

.arrow-left > .fas:hover {
    color: #4878e7;
    border-radius: 50px;
}



.arrow-left :hover {
    background: #4878e7;
    color: #fff;
    cursor: pointer;
}
.Best-serv > .slider {
    width: 100%;
    height: 281px;
    margin-top: 36px;
}


.slider > .Design-Dev {
    width: 384px;
    height: 282px;
    border: 3px solid #eee;
    display: inline-block;
    vertical-align: middle;
    padding-top: 30px;
}

.slider > .Design-Dev:hover {
    width: 384px;
    height: 282px;
    border: 3px solid #eee;
    display: inline-block;
    background: #fff;
}

.slider > .Design-Dev img {
    width: 86px;
    height: 80px;
}

.slider > .two {
    width: 384px;
    height: 282px;
    border: 3px solid #eee;
    display: inline-block;
    margin: 0 30px;
}

.slider > .two:hover {
    width: 384px;
    height: 282px;
    border: 3px solid #eee;
    display: inline-block;
    background: #fff;
}


.slider > .search-optimization {
    width: 384px;
    height: 282px;
    border: 3px solid #eee;
    display: inline-block;
    vertical-align: middle;
    padding-top: 30px;
}

.slider > .search-optimization:hover {
    background: #fff;
}

 .search-optimization img {
     width: 110px;
 }

.search-optimization > .txt {
    width: 286px;
    margin: 0 auto;
}



.slider > .three {
    width: 384px;
    height: 282px;
    border: 3px solid #eee;
    display: inline-block;
    vertical-align: middle;
}

.slider > .three:hover {
    width: 384px;
    height: 282px;
    border: 3px solid #eee;
    display: inline-block;
    background: #fff;
}

.slider > .three img {
    width: 110px;
}



.arrow-right {
    display: inline-block;
    font-size: 43px;
    margin: 0 42px 0;
    padding: 19px 29px 15px;
    border-radius: 70px;
    color: #fff;
    font-weight: normal;
    transform: rotate(180deg);
}

.arrow-right > .fas fa-angle-right::after {
    content: "\f105";
    position: absolute;
    width: 20px;
    height: 20px;
    background: red;
    font-size: 20px;
}

.arrow-right:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
}

.portfolio {
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
    padding: 135px 0 135px;
}

.portfolio > .title {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
}

.portfolio > .inscription {
    padding: 43px 0 40px;
}

/*tabs*/

.tabs {
    display: inline-block;
    max-width: 575px;
    border: 2px solid;
    border-radius: 27px;
}

.tabs > .all {
    display: inline-block;
    padding: 20px;
    background: #4777e6;
    border-bottom-left-radius: 26px;
    border-top-left-radius: 26px;
    border-right: 2px solid #000;
    color: #fff;
    text-transform: uppercase;
}

.tabs > .web-design {
    display: inline-block;
    padding: 20px;
    margin-left: -4px;
    border-right: 2px solid;
    text-transform: uppercase;
}

.tabs > .web-design:hover {
    background: #4777e6;
    color: #fff;
}

.tabs > .brand {
    display: inline-block;
    padding: 20px;
    margin-left: -4px;
    text-transform: uppercase;
}

.tabs > .brand:hover {
    background: #4777e6;
    color: #fff;
}

.brand {
    display: inline-block;
    padding: 20px;
    border-right: 2px solid;
}

.dev {
    display: inline-block;
    padding: 20px;
    margin-left: -4px;
    text-transform: uppercase;
}

.tabs > .dev:hover {
    background: #4777e6;
    color: #fff;
    border-bottom-right-radius: 27px;
    border-top-right-radius: 27px;
    margin-left: -6px;
}

/*картинки*/


/*блок где сами картинки*/
.recents-end {
    margin-bottom: 50px;
}

/*картинки*/
.item {
    display: inline-block;
}

.item img {
    width: 360px;
    height: 244px;
    border: 9px solid #fff;
    margin: 31px;
    box-shadow:0 0 17px 3px #576a9a;
}

.item img:nth-child(-n+3) {
   margin-top: 51px;
}

/*кнопка продолжения*/
.further {
    display: inline-block;
    padding: 27px 64px;
    text-transform: uppercase;
    font-size: 24px;
    background: #3e70e1;
    color: #fff;
    border-radius: 50px;
    border: 2px solid #d9dadc;
}

.further:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}


.pricing-plan > .title {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 42px;
}

.pricing-plan > .inscription {
    text-align: center;
}

.pricing-plan > .container >  .professional {
    width: 200px;
    height: 200px;
    background: red;
    display: inline-block;
}

.pricing-plan > .container >  .advance {
    width: 200px;
    height: 200px;
    background: red;
    display: inline-block;
}

.pricing-plan > .container >  .premium {
    width: 200px;
    height: 200px;
    background: red;
    display: inline-block;
}


.pricing-plan > .container-price {
    max-width: 1542px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 50px 0 122px;
    font-size: 40px;
}

.container-price > .professional {
    max-width: 375px;
    width: 100%;
    border: 2px solid #cbcbcb;
    border-top: 7px solid #46e648;
    display: inline-block;
    vertical-align: top;
    padding: 40px 30px;
    text-transform: uppercase;
}

.container-price > .professional:hover {
    border-top: 7px solid #000;
}

.professional > .fas fa-tools::before {
    content: "\f7d9";
    font-family: FontAwesome;
    font-size: 40px;
}


.professional > .title {
    font-size: 18px;
}

 .professional > .inscription {
     font-size: 17px;
 }

 .professional > .price {
     font-size: 20px;
     font-weight: bold;
 }

.price > .zero {
    font-size: 35px;
}

.purchase {
    font-size: 20px;
    padding: 20px;
    border-radius: 44px;
    color: #4777e6;
    border: 2px solid gray;
    font-weight: bold;
    max-width: 245px;
    margin: 30px auto 0;
    cursor: pointer;
    text-transform: uppercase;
}

.purchase:hover {
    background: #4777e6;
    color: #fff;
}

.container-price > .advance {
    max-width: 375px;
    width: 100%;
    border: 2px solid #cbcbcb;
    border-top: 7px solid #4777e5;
    display: inline-block;
    margin: 0 100px;
    padding: 40px 30px;
}

/*hover*/


.container-price > .advance:hover {
    border: 2px solid #cbcbcb;
    border-top: 7px solid #000;
}



.advance > .title {
    font-size: 18px;
    text-transform: uppercase;
}

 .advance > .inscription {
     font-size: 17px;
 }

 .advance > .price {
     font-size: 20px;
     font-weight: bold;
 }

.price > .zero {
    font-size: 35px;
}

.purchase {
    font-size: 20px;
    padding: 20px;
    border-radius: 44px;
    color: #4777e6;
    border: 2px solid gray;
    font-weight: bold;
    max-width: 245px;
    margin: 30px auto 0;
    cursor: pointer;
}

.container-price > .premium {
    max-width: 375px;
    width: 100%;
    border: 2px solid #cbcbcb;
    border-top: 7px solid #e972e8;
    display: inline-block;
    vertical-align: top;
    padding: 35px 30px;
}

.container-price > .premium:hover {
    border: 2px solid #cbcbcb;
    border-top: 7px solid #000
}

.container-price > .premium h2 {
    text-transform: uppercase;
    font-size: 29px;
}

.premium > .inscription {
    font-size: 18px;
}

.premium > .price {
    font-size: 25px;
    font-weight: bold;
}



.feedback {
    width: 100%;
    height: auto;
    padding: 128px 0;
    background: #ebeeff;
}

.clients-feedback {
    max-width: max-content;
    margin: 0 auto;
    vertical-align: top;
}

.clients-feedback > .inscription {
    display: inline-block;
}
.inscription > .title {
    font-size: 25px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
}

/*clients-feedback*/
.inscription > .arrow-left > .fas fa-chevron-circle-left::before {
    content: "\f137";
    position: absolute;
    font-family:FontAwesome;
    font-size: 19px;
}

/*feedback*/


.clients-feedback > .comments {
    display: inline-block;
    vertical-align: top;
}
.comments > .one-comment {
    display: inline-block;
    width: 376px;
    height: 228px;
    background: #fff;
    padding: 20px;
}

.comments > .one-comment > .name {
    font-weight: bold;
}

.one-comment > .txt {
    padding: 33px 0;
}

.comments > .two-comment {
    display: inline-block;
    width: 376px;
    height: 228px;
    background: #fff;
    vertical-align: top;
}


.latest-news {
    max-width: max-content;
    width: 100%;
    margin: 131px auto;
    text-align: center;
}

.latest-news > .title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}


.container-news {

}

.one-news {
    background-image: url('https://zooclub.ru/attach/16000/16660.jpg');
    display: inline-block;
    background-size: cover;
    background-position: center;
    padding-top: 73px;
    border: 2px solid;
}

.one-news > .title {
    background: red;
    position: absolute;
}

.one-news > .txt {
    padding: 20px 0;
    background: #fff;
    margin-bottom: 0;
}

.one-news > .link {
    border: 2px solid gray;
    background: #fff;
    padding: 15px 8px;
    font-size: 14px;
}

.link > .data {
    color: gray;
    margin-right: 21px;
}

/*работает для "one-news" "two-news" "three-news"*/
.link > .Read {
    color: #688be7;
}


.two-news {
    background: red;
    display: inline-block;
    margin: 0 50px;
    padding-top: 73px;
    background-image: url('https://zooclub.ru/attach/16000/16660.jpg');
    background-size: cover;
    background-position: center;
    border: 2px solid #000;
}

.two-news > .title {
    background: red;
    position: absolute;
}

.two-news > .txt {
    padding: 20px 0;
    background: #fff;
    margin-bottom: 0;
}


.two-news > .link {
    border: 2px solid gray;
    background: #fff;
    padding: 15px 8px;
    font-size: 14px;
}

.link > .data {
    color: gray;
    margin-right: 21px;
}


.three-news {;
    background: red;
    display: inline-block;
    background-image: url('https://zooclub.ru/attach/16000/16660.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 73px;
}


.three-news > .title {
    background: red;
    position: absolute;
}

.three-news > .txt {
    padding: 20px 0;
    background: #fff;
    margin-bottom: 0;
    border: 1px solid #000;
}

.three-news > .link {
    border: 2px solid gray;
    background: #fff;
    padding: 15px 8px;
    font-size: 14px;
}

.link > .data {
    color: gray;
    margin-right: 21px;
}

/*contacts*/
.contacts-us {
    background: #f9faff;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0 100px;
}

.contacts-us h1 {
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
}

.message > .info {
    text-align: center;
    padding: 40px 0 40px;
}

.message > .img {
    display: inline-block;
    vertical-align: top;
}
.message > .img .fas-fa-envelope::before {
    content: "\f0e0";
    font-family: FontAwesome;
    font-size: 300px;
    transform: rotate(45deg);
    vertical-align: top;
}

.message > .er {
    max-width: 590px;
    display: inline-block;
    text-align: left;
    margin-left:177px;
}

.er input {
    max-width: 273px;
    width: 100%;
    border-radius: 8px;
    background: #f9faff;
    border: 2px solid gray;
    padding: 20px;
    outline: none;
}

.er > .First-name {
    margin-right: 31px;
    padding: 20px;
}

.er > .subject {
    max-width: 575px;
    height: 54px;
    margin: 31px 0;
}

.er > .message {
    max-width: 578px;
    width: 100%;
    padding: 35px 20px 132px;
}

.er > .send {
    background: #4777e6;
    display: inline-block;
    padding: 20px 66px;
    border-radius: 50px;
    margin-top: 31px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.er > .send:hover {
    background: #000;
    transition: 0.3s;
    cursor: pointer;
}
/*размеры иконки*/
.fa-envelope {
    font-size: 300px;
}



.footer {
    background: #4777e6;
    margin: 0 auto;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.footer-container {
    max-width: 1218px;
    margin: 0 auto;
    padding: 62px 0;
}

.copyright {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
}

.footer-menu {
    display: inline-block;
    float: right;
}

.footer-menu ul{
    list-style-type: none;
    margin-top: 0;
}

.footer-menu li {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
}

/*задняя страница*/
.landing-page > .page-back {
    width: 100%;
    max-width: 2028px;
    height: 7676px;
    background: #fff;
    border-radius: 29px;
    position: absolute;
    margin-left: 465px;
}


/**/
